:root {
    --buttonBleue: #649EB0;
    --buttonGreen: #98E848;
    --buttonYello: #FFED47;
    --textLyme: #ABE848;
    background-color: #27272c;
    background-image: url('Resources/Page_Elements/Sunset_Back.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.backBlur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.photoCred {
    background-color: rgba(255, 197, 211, 0.5);
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 5px;
    font-size: small;
    color: #fdf5ff;
}

.mainWrapper {
    margin: auto;
    width: 60%;
    border-radius: 50px;
    background-color: rgba(255, 197, 211, 0.5);
    backdrop-filter: blur(0.1rem);
    background-clip: padding-box;
    border-width: 2px;
    transform: translateY(25%);
}

.mainDivider {
    border: 1px solid rgba(16, 16, 16, 0.33);
}

.homeGreeting {
    text-align: center;
    color: var(--textLyme);
    font-family: 'homeGreeting', sans-serif;
}

.sectionHeader {
    text-align: center;
    color: #fdf5ff;
    font-size: 60px;
    margin-top: -5px;
    margin-bottom: -5px;
}

/* Classes for the buttons */
    .linkButtonsLink {
        text-decoration: none;
    }

    .linkButtons {
        width: 90%;
        margin: auto;
        text-align: center;
        border-radius: 5px;
    }

    .linkButtons .gradient {
        width: 90%;
        margin: auto;
        text-align: center;
        border-radius: 5px;
        background-color: #ff67bb;
    }

    .linkButtons .text {
        font-family: 'linkButtons';
        color: #FFF;
        font-size: 30px;
    }


.TestB {
    padding:0.01em 16px;
    margin:auto;
    width: 100px;
    border: 1px solid black;
    
    border-radius: 10px;
}

.TestCo {
    padding:0.01em 16px;
    margin:auto;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
}



/*.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,*/
.w3-container{
    padding:0.01em 16px;
    margin-top:16px;margin-bottom:16px;
    width: 100px;
    border: 1px solid black;
    
    border-radius: 10px;
    margin: auto;
}

.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}


.parent{
    background: lightgreen;
    width: 300px;
    display: flex;
    margin: auto;
}


.icon {
    display: inline-block;
    size:fitp;
    background-repeat: no-repeat;
    background-position: -18px 0px;
}