/* Everthing is sorted by reverse alphabetical. */

:root {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../Backgrounds/Walker.jpg');
    background-color: #27272C;
    background-attachment: fixed;
}

/* Animation keyframes */
@keyframes gayFlashbang {
    to {
        filter: hue-rotate(180deg);
    }
    from {
        filter: hue-rotate(0deg);
    }
}

/* Fonts */
@font-face {
    src: url('../../Font/Microsoft/impact.ttf');
    font-family: 'Warning';
}
@font-face {
    src: url('../../Font/Google/Playwrite_HR_Lijeva/PlaywriteHRLijeva-VariableFont_wght.ttf');
    font-family: 'Titl';
}
@font-face {
    src: url('../../Font/Microsoft/PAPYRUS.TTF');
    font-family: 'Hover';
}
@font-face {
    src: url('../../Font/Google/Unna/Unna-Regular.ttf');
    font-family: 'Hewwo';
}
@font-face {
    src: url('../../Font/Microsoft/MATURASC.TTF');
    font-family: 'Button';
}

/* Not at all shady popup */
#shady > div > table th {
    width: 25vw;
    text-align: left;
    color: white;
}
#shady > div > table td {
    width: 1vw;
    text-align: center;
    height: 1vw;
    color: black;
    border: 0.2vw outset white;
    background: lightgray;
}
#shady > div > table {
    padding: 0;
    margin: 0.2vw;
    border-spacing: 0.02vw;
    background-color: blue;
}
#shady > div > p {
    text-align: justify;
    margin: 0.4vw;
}
#shady > div {
    width: 25vw;
    display: block;
}
#shady div {
    font-size: 1vw;
    border: 0.2vw outset white;
    background: lightgray;
}
/* inline flex */
#shady {
    border: transparent;
    background-color: transparent;
}

/* Page Links */
#pageLinks tr {
    backdrop-filter: blur(0.1rem);
}
#pageLinks th:hover {
    filter: hue-rotate(90deg) saturate(200%);
}
#pageLinks th {
    transition: filter 500ms ease;
    cursor: pointer;
    border: 0.4vw double gold;
    background-color: rebeccapurple;
}
#pageLinks img {
    margin: auto;
    width: 25vw;
    height: 25vw;
}
#pageLinks {
    font-size: 5vw;
    width: 90vw;
}

.welcome {
    text-align: center;
    padding: 1vw;
    font-size: 2vw;
    font-family: 'Hewwo', serif;
    color: white;
    margin-bottom: -1.5vw;
    margin-top: 2vw;
}

/* Content warning */
.warningTitle {
    width: 80vw;
    text-align: center;
    margin: auto;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    font-size: 5vw;
    font-family: 'Warning', serif;
    color:  black;
    border: 0.5vw black solid;
    background-color: orange;
    backdrop-filter: blur(0.1rem);
}
.warningInfo > .hide:hover {
    color: white;
}
.warningInfo > .hide {
    transition: color 100ms;
    color: slategray;
    background-color: slategrey;
    border-left: 0.1em solid slategray;
    border-right: 0.1em solid slategray;
}
.warningInfo > b {
    margin: auto;
    font-size: 2.5vw;
    cursor: pointer;
    border: 0.5vw dashed black;
    background-color: blue;
}
.warningInfo {
    width: 80vw;
    text-align: left;
    margin: auto;
    padding-left: 1vw;
    font-weight: lighter;
    font-size: 2vw;
    font-family: 'Warning', serif;
    color: black;
    border: 0.5vw black solid;
    border-top: 0 transparent solid;
    background-color: white;
    backdrop-filter: blur(0.1rem);
}

.transContainer {
    width: 60vw;
    transition: box-shadow 500ms;
    margin: auto;
    box-shadow:
        0 0 0 0.20vw rgb(228, 3, 3),
        0 0 0 0.40vw rgb(255, 140, 0),
        0 0 0 0.60vw rgb(255, 237, 0),
        0 0 0 0.80vw rgb(0, 128, 38),
        0 0 0 1.00vw rgb(0, 76, 255),
        0 0 0 1.20vw rgb(115, 41, 130);
    border: transparent;
    border-top-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    border-top-right-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    background-color: rgba(245, 169, 184, 0.75);
    backdrop-filter: blur(0.1rem);
}

.pleaseStopAssaultingMyEars {
    width: 60vw;
    margin: auto;
    justify-content: center;
    border: transparent;
    backdrop-filter: blur(0);
    background-color: transparent;
    display: block;
}

.ocdTriggerer {
    width: 95%;
}

.no {
    color: transparent;
    background-image: none;
    background-color: transparent;
}

.layoumt select {
    font-size: xx-large;
}

.layoumt label {
    font-size: xx-large;
}

.layoumt {
    font-size: xx-large;
}

.deviceTogglMobl {display: block !important;}
.deviceTogglDesk {display: none !important;}

.backBlur {
    width: 100%;
    top: 0;
    position: fixed;
    left: 0;
    height: 100%;
    backdrop-filter: blur(0.5vw);
}

rt {
    font-size: .3em;
    font-family: "Button", serif;
    background: linear-gradient(to bottom, hotpink 30%, maroon 50%, salmon 90%);
    background-clip: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h1 {
    text-align: center;
    letter-spacing: 3vw;
    font-weight: bolder;
    font-size: 4.5vw;
    font-family: 'Titl', sans-serif;
    color: #FDF5FF;
}