/* Colors
mediumvioletred
darkorange
gold
firebrick
midnightblue
mediumseagreen
*/

@font-face {
    src: url("../../Font/Other/SuperMagic.ttf");
    font-family: "Super Magic";
}

@font-face {
    src: url("../../Font/Other/LUNCN.TTF");
    font-family: "Luncn";
}

:root {
    background-color: darkorange;
    --vs: calc(sqrt(1vw * 1vw + 1vh * 1vh));
}

.Yband video {
    width: 100vw;
    top: 0vw;
    position: absolute;
    object-fit: fill;
    margin: auto;
    height: 10vw;
    display: none;
}

.Yband h3 {
    text-indent: 25vw;
    margin-top: -2.5vw;
}

.Yband {
    color: mediumvioletred;
    width: 100vw;
    text-align: center;
    position: absolute;
    left: 0;
    font-size: calc(2 * var(--vs));
    font-family: "Super Magic";
    background-color: gold;
    height: 5vw;
}

.notif p {
    top: 0;
    position: fixed;
    left: 0; 
    font-family: "Luncn";
    border-top-left-radius: 999px;
    border-bottom-right-radius: 999px;
    color: rgb(35, 74, 163);
    background-color: white;
    font-size: calc(2.5 * var(--vs));
    border: 0.75em solid rgb(235, 25, 40);
}

.hide {
    z-index: calc(-infinity);
    width: 90vw;
    position: static;
    color: transparent;
}