:root {
    background-color: greenyellow;
}

#refrigerator {
    width: 100vw;
    top: 0;
    position: fixed;
    left: 0;
    height: 100vh;
    z-index: -69;
}

#informaciónSobreLosEnlacesDaddyDiv h1 {
    -webkit-text-stroke: 0.025em white;
    text-align: center;
}

#informaciónSobreLosEnlacesDaddyDiv p {
    background-color: white;
}

#informaciónSobreLosEnlacesDaddyDiv {
    width: 40vw;
    top: 40vh;
    position: fixed;
    left: 30vw;
    height: 20vh;
    font-size: 2vh;
    background-size: 100% 100%;
    background-image: url("../../Page/NyQuil.jpg");
}